.navigationBar {

    div{
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 5px 0px;
        background-color: #333;
        list-style-type: none;

        div:first-child{
            margin-right: 50px;
        }
        div:last-child{
            margin-left: 100px;
        }
      
    }
 
}