.App-header {
  background-color: #282c34;
  color: white;
  display: grid;
  margin: auto;
  justify-items: center;
  background-color: #282c34;
  height: auto;
  font-size: 15px;
  padding-bottom: 10px;
}
