.leftMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  width: 300px;
  height: 100%;
  background-color: #794604;

  .leftMenu {
    .leftMenuIcon {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      gap: 5px;
      font-size: 20px;
      padding: 10px;

      svg:hover {
        color: #000000;
        border-radius: 8%;
        cursor: pointer;
      }

      .menuDropdown {
        background-color: #8d5205e5;
        border-radius: 8%;
        padding: 10px;
        :hover {
          color: #ff5d5d;
          border-radius: 8%;
          cursor: pointer;
        }
         :active {
          color: #000000;
          border-radius: 8%;
          cursor: pointer;
        }
        :focus {
          color: #000000;
          border-radius: 8%;
          cursor: pointer;
        }
      }

      .leftIconContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 5px 0px;
        margin: 0px;
      }
    }

    .leftMenuHeader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 20px;
      font-weight: bold;
      color: #ffffff;
      margin: 0px;
      .legalPersonContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .legalPersonBox {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .legalPerson {
            display: flex;
            flex-direction: column;
            gap: 2px;
            justify-content: center;
            align-items: center;
            .legalPersonTitleBox {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 5px;
              .legalPersonIcon {
                display: flex;
                justify-content: center;
                font-size: 20px;
                padding: 5px;
                margin: 0px;
              }
              .chevronOpen {
                transform: rotate(90deg);
              }
            }
            .legalPersonInfo {
                background-color: #8d5205e5;
                border-radius: 8%;
                padding: 5px 15px;
              p {
                margin: 5px 0px;
                font-size: 16px;
                color: #ffffff;
                
              
              }
            }
          }
        }
      }
    }
  }}
